<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ThreahNum" value="2"/>
    
    <!--FTP连接参数-->
    <add key="remotingFolder" value="/temp"/>
    <add key="localFolder" value="c:\temp"/>
    <add key="ftpServer" value="*"/>
    <add key="user" value="*"/>
    <add key="pwd" value="*"/>
    <add key="port" value="21"/>
  </appSettings>
</configuration>